<!DOCTYPE html>
<!-- saved from url=(0073)http://totaltheme.wpengine.com/base/shop/accessories/basic-peasant-shirt/ -->
<html lang="en-US" class="csstransforms csstransforms3d csstransitions js_active  vc_desktop  vc_transform ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Mercadosfera head and footer</title>




    <link rel="stylesheet" id="wpex-style-css" href="./css/style.css" type="text/css" media="all" />

    <link rel="stylesheet" id="wpex-responsive-css" href="./css/responsive.css" type="text/css" media="all" />


    <!--[if lt IE 9]><script src="./js/html5.js"></script><![endif]-->


    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="./js/layerslider.kreaturamedia.jquery.js"></script>
    <script type="text/javascript" src="./js/greensock.js"></script>
    <script type="text/javascript" src="./js/layerslider.transitions.js"></script>

    <!-- Retina Logo -->
    <script type="text/javascript"> jQuery(function ($) { if (window.devicePixelRatio == 2) { $("#site-logo img").attr("src", "http://totaltheme.wpengine.com/minimal/wp-content/themes/Total/images/logo/logo-retina.png"); $("#site-logo img").attr("width", "90"); $("#site-logo img").attr("height", "40"); } }); </script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="http://totaltheme.wpengine.com/minimal/wp-content/themes/Total/images/favicons/favicon.png">
    <!-- Apple iPhone Icon -->
    <link rel="apple-touch-icon-precomposed" href="http://totaltheme.wpengine.com/minimal/wp-content/themes/Total/images/favicons/apple-touch-icon.png">
    <!-- Apple iPhone Retina Icon -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://totaltheme.wpengine.com/minimal/wp-content/themes/Total/images/favicons/apple-touch-icon-114x114.png">
    <!-- Apple iPhone Icon -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://totaltheme.wpengine.com/minimal/wp-content/themes/Total/images/favicons/apple-touch-icon-72x72.png">

    <style type="text/css">
		/*Custom Layout CSS START*/
		@@media only screen and (min-width: 960px) 
		{ 
			.header-one #site-header, 
			.header-one #site-navigation-wrap, 
			.navbar-style-one .dropdown-menu > li > a, 
			.nav-custom-height.navbar-style-one .dropdown-menu .wcmenucart-toggle-dropdown, 
			.theme-minimal-graphical .nav-custom-height.navbar-style-one .dropdown-menu .wcmenucart-toggle-dropdown, 
			.theme-minimal-graphical .nav-custom-height.navbar-style-one .dropdown-menu .search-toggle-li 
			{ 
				height: 90px; 
			}

			.navbar-style-one .dropdown-menu > li > a 
			{ 
				 
			} 
		}/*Custom Layout CSS END*/
		
		body, .button, input { font-family: Raleway; }

		/*Styling CSS START*/
		.footer-callout-button { border-radius:3px; }
		.is-sticky #site-header { opacity:0.95; }
		/*Styling CSS END*/
		
		/*Admin Custom CSS START*/                
		.thumbnail-entry-style .blog-entry-readmore { display: none; }
		.page-id-2435 .wcmenucart-toggle-dropdown { display: none !important; }           
		/*Admin Custom CSS END*/
	</style>

</head>

<!-- Begin Body -->
<body class="single single-product postid-899 woocommerce woocommerce-page wpex-theme wpex-responsive theme-base full-width-main-layout sidebar-widget-icons wpb-js-composer js-comp-ver-4.1.2 vc_responsive" style="">


    <div id="wrap" class="clr">
        <!--primera barra de menu la que se oculta-->
        <div id="top-bar-wrap" class="clr always-visible">
            <div id="top-bar" class="clr container">
                <div id="top-bar-content" class="clr top-bar-left">
                    <i class="fa fa-phone" style="color: #000; margin-right: 5px;"></i>1-800-987-654 <i class="fa fa-envelope" style="color: #000; margin-left: 20px; margin-right: 5px;"></i>admin@total.com <i class="fa fa-user" style="color: #000; margin-left: 20px; margin-right: 5px;"></i><a href="http://totaltheme.wpengine.com/base/wp-login.php" title="User Login" class="wpex-login-overlay" rel="nofollow" target="_blank">User Login</a>
                </div>
                <!-- #top-bar-content -->
                <div id="top-bar-social" class="clr top-bar-right social-style-font_icons">
                    <a href="http://www.twitter.com/wpexplorer" title="twitter" target="_blank">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="http://vk.com/" title="vk" target="_blank">
                        <span class="fa fa-vk"></span>
                    </a>
                    <a href="https://www.facebook.com/WPExplorerThemes" title="facebook" target="_blank">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="https://plus.google.com/+AJClarke/posts" title="google-plus" target="_blank">
                        <span class="fa fa-google-plus"></span>
                    </a>
                    <a href="http://instagram.com/" title="instagram" target="_blank">
                        <span class="fa fa-instagram"></span>
                    </a>
                    <a href="http://linkedin.com/" title="linkedin" target="_blank">
                        <span class="fa fa-linkedin"></span>
                    </a>
                    <a href="http://www.pinterest.com/wpexplorer/" title="pinterest" target="_blank">
                        <span class="fa fa-pinterest"></span>
                    </a>
                    <a href="http://fickr.com/" title="flickr" target="_blank">
                        <span class="fa fa-flickr"></span>
                    </a>
                    <a href="http://vimeo.com/" title="vimeo-square" target="_blank">
                        <span class="fa fa-vimeo-square"></span>
                    </a>
                    <a href="http://feeds.feedburner.com/wpexplorer-feed" title="rss" target="_blank">
                        <span class="fa fa-rss"></span>
                    </a>
                </div>
                <!-- #top-bar-social -->
            </div>
            <!-- #top-bar -->
        </div>
        <!-- #top-bar-wrap -->


        <div id="site-header-sticky-wrapper" class="sticky-wrapper">
            <header id="site-header" class="clr header-one fixed-scroll" role="banner" data-position="relative" data-top="auto" style="">
                <div id="site-header-inner" class="container clr">
                    <!-- #site-logo -->
                    <div id="site-logo" class="header-one-logo">
                        <a href="http://totaltheme.wpengine.com/base/" title="Minimal" rel="home">
                            <img src="http://www.sunpack.com/blog/wp-content/uploads/2011/08/green_world.jpg" width="70px" alt="Minimal">
                        </a>
                    </div>
                    <!-- #site-logo -->

                    <!--#site-menu-->
                    <div id="site-navigation-wrap" class="clr navbar-style-one nav-custom-height nav-dropdown-top-border">
                        <nav id="site-navigation" class="navigation main-navigation clr  site-navigation-with-search site-navigation-with-cart-icon" role="navigation">
                            <div class="menu-main-container">
                                <ul id="menu-main" class="dropdown-menu sf-menu sf-js-enabled">
                                    <li id="menu-item-2941" class="megamenu col-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-2941"><a href="http://totaltheme.wpengine.com/base/" class="sf-with-ul">Blog</a>
                                    </li>
                                    <li id="menu-item-3225" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-3225"><a href="http://totaltheme.wpengine.com/base/features/" class="sf-with-ul">Vender</a>
                                    </li>

                                    <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-17"><a href="http://totaltheme.wpengine.com/base/shop/accessories/basic-peasant-shirt/#" class="sf-with-ul">Registrarse</a>
                                    </li>

                                    <li class="wcmenucart-toggle-dropdown woo-menu-icon"><a href="http://totaltheme.wpengine.com/base/shop/" class="wcmenucart" title="Your Cart"><span class="wcmenucart-count"><span class="fa fa-shopping-cart"></span></span></a></li>
                                    <li class="search-toggle-li"><a href="http://totaltheme.wpengine.com/base/shop/accessories/basic-peasant-shirt/#" class="search-header-replace-toggle site-search-toggle"><span class="fa fa-search"></span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!--#site-menu-->
                </div>
                <!-- #site-navigation-wrap -->



                <!-- Mobile navigation -->
                <div id="sidr-close"><a href="http://totaltheme.wpengine.com/base/shop/accessories/basic-peasant-shirt/#sidr-close" class="toggle-sidr-close"></a></div>

                <div id="mobile-menu" class="clr">
                    <a href="http://totaltheme.wpengine.com/base/shop/accessories/basic-peasant-shirt/#sidr" class="mobile-menu-toggle"><span class="fa fa-bars"></span></a>
                    <a href="http://totaltheme.wpengine.com/base/cart/" title="Cart" class="mobile-menu-extra-icons mobile-menu-shopping-cart"><span class="fa fa-shopping-cart"></span></a>
                    <a href="http://totaltheme.wpengine.com/base/blog/" title="Blog" class="mobile-menu-extra-icons mobile-menu-file-text"><span class="fa fa-file-text"></span></a>
                    <a href="http://totaltheme.wpengine.com/base/portfolio/" title="Portfolio" class="mobile-menu-extra-icons mobile-menu-briefcase"><span class="fa fa-briefcase"></span></a>
                    <a href="http://totaltheme.wpengine.com/base/contact-page/" title="" class="mobile-menu-extra-icons mobile-menu-envelope"><span class="fa fa-envelope"></span></a>
                </div>
                <!-- #mobile-menu -->

                <div id="searchform-header-replace" class="clr header-searchform-wrap">
                    <form method="get" action="http://totaltheme.wpengine.com/base/" role="search" class="header-searchform">
                        <input type="search" name="s" autocomplete="off" placeholder="Búsqueda de Productos">
                    </form>
                    <span id="searchform-header-replace-close" class="fa fa-times"></span>
                </div>
                <!-- #searchform-header_replace -->
        </div>
        <!-- #site-header-inner -->
        </header>

    </div>
    <!-- #header -->



    <div id="main" class="site-main clr">
        <div style="height: 5000px">
            contenido	
			
		   

		



            <img src="http://4.bp.blogspot.com/_KQkhfGyFwE0/S-6Ouy_0pCI/AAAAAAAAAZU/1MyLtPD4_9g/s000/granja_casas_p.jpg" />
        </div>
    </div>
    <!-- #main-content -->



    <div id="footer-callout-wrap" class="clr always-visible">
        <div id="footer-callout" class="clr container">
            <div id="footer-callout-left" class="footer-callout-content clr ">
                Teexto
				
		   
		
            </div>
            <div id="footer-callout-right" class="footer-callout-button clr">
                <a href="http://themeforest.net/item/total-responsive-multipurpose-wordpress-theme/6339019?ref=wpexplorer" class="theme-button footer-callout-button" title="Buy Now" target="_blank">Boton</a>
            </div>
        </div>
    </div>



    <footer id="footer" class="site-footer">
        <div id="footer-inner" class="container clr">
            <div id="footer-row" class="wpex-row clr">

                <div id="footer-widgets" class="clr ">

                    <!-- FOOTER BOX 1 -->
                    <div class="footer-box span_1_of_4 col col-1">
                        <div class="footer-widget widget_text clr">
                            <div class="textwidget">
                                <a href="http://wpexplorer-demos.com/total/" title="Total Homepage">
                                    <img src="http://www.sunpack.com/blog/wp-content/uploads/2011/08/green_world.jpg" width="70px"></a>
                                <br>
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit nisl a ullamcorper pretium. Duis aliquet, lacus nec faucibus placerat, enim nibh iaculis lacus, eu varius nisl ligula ac lorem.
						   
						
                            </div>
                        </div>
                    </div>
                    <!-- .footer-one-box -->

                    <!-- FOOTER BOX 2 -->
                    <div class="footer-box span_1_of_4 col col-2">
                        <div class="footer-widget widget_recent_entries clr">
                            <div class="widget-title">Recent News</div>
                            <ul>
                                <li>
                                    <a href="http://totaltheme.wpengine.com/base/overcoming-obstacles/">Overcoming Obstacles</a>
                                </li>
                                <li>
                                    <a href="http://totaltheme.wpengine.com/base/water-by-morgan/">Water by Morgan</a>
                                </li>
                                <li>
                                    <a href="http://totaltheme.wpengine.com/base/the-eiffel-tower/">The Eiffel Tower</a>
                                </li>
                                <li>
                                    <a href="http://totaltheme.wpengine.com/base/dark-skies/">Dark Skies</a>
                                </li>
                                <li>
                                    <a href="http://totaltheme.wpengine.com/base/sunny-day/">Sunny Day</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- .footer-one-box -->

                    <!-- FOOTER BOX 3 -->
                    <div class="footer-box span_1_of_4 col col-3 ">
                        <div class="footer-widget widget_wpex_recent_posts_thumb clr">
                            <div class="widget-title">Recent Work</div>
                            <ul class="wpex-widget-recent-posts clr style-">
                                <li class="clearfix wpex-widget-recent-posts-li">
                                    <a href="http://totaltheme.wpengine.com/base/portfolio-item/down-the-road/" title="Down The Road" class="wpex-widget-recent-posts-thumbnail">
                                        <img src="./ProductDetail_files/bird_mg-65x65.png" alt="Down The Road">
                                    </a>
                                    <a href="http://totaltheme.wpengine.com/base/portfolio-item/down-the-road/" title="Down The Road" class="wpex-widget-recent-posts-title">Down The Road</a>
                                    <div class="wpex-widget-recent-posts-date">November 24, 2013</div>
                                </li>
                                <li class="clearfix wpex-widget-recent-posts-li">
                                    <a href="http://totaltheme.wpengine.com/base/portfolio-item/camera-app-design/" title="App Design" class="wpex-widget-recent-posts-thumbnail">
                                        <img src="./ProductDetail_files/Anton-Skugarov-2-65x65.png" alt="App Design">
                                    </a>
                                    <a href="http://totaltheme.wpengine.com/base/portfolio-item/camera-app-design/" title="App Design" class="wpex-widget-recent-posts-title">App Design</a>
                                    <div class="wpex-widget-recent-posts-date">November 24, 2013</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- .footer-one-box -->

                    <!-- FOOTER BOX 4 -->
                    <div class="footer-box span_1_of_4 col col-4">
                        <div class="footer-widget widget_text clr">
                            <div class="widget-title">Contact Us</div>
                            <div class="textwidget">
                                <strong>Phone:</strong> (555) 555-5555
							   
							

                                <br>
                                <strong>Email:</strong> email@total.com
							   
							

                                <br>
                                <strong>Twitter:</strong> @@envato
                            </div>
                        </div>
                        <div class="footer-widget widget_wpex_fontawesome_social_widget clr">
                            <div class="widget-title">Follow Us</div>
                            <ul class="wpex-fontawesome-social-widget-ul social-style-color social-type-flat">
                                <li class="social-widget-facebook"><a href="https://www.facebook.com/WPExplorerThemes" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-widget-google-plus"><a href="https://www.facebook.com/WPExplorerThemes" title="GooglePlus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li class="social-widget-pinterest"><a href="http://totaltheme.wpengine.com/base/shop/accessories/basic-peasant-shirt/www.pinterest.com/wpexplorer/" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li class="social-widget-twitter"><a href="https://twitter.com/WPExplorer" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-widget-youtube-play"><a href="https://www.youtube.com/user/wpexplorertv" title="Youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                                <li class="social-widget-rss"><a href="http://totaltheme.wpengine.com/base/shop/accessories/basic-peasant-shirt/#" title="RSS" target="_blank"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- .footer-box -->

                </div>
                <!-- #footer-widgets -->

            </div>
            <!-- .wpex-row -->
        </div>
        <!-- #footer-widgets -->
    </footer>
    <!-- #footer -->




    <div id="footer-bottom" class="clr">
        <div id="footer-bottom-inner" class="container clr">
            <div id="copyright" class="clr" role="contentinfo">
                Copyright 2013 - All Rights Reserved			
		   
		
            </div>
            <!-- #copyright -->
            <div id="footer-bottom-menu" class="clr">
                <div class="menu-footer-container">
                    <ul id="menu-footer" class="menu">
                        <li id="menu-item-2663" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2663"><a href="http://totaltheme.wpengine.com/base/"><i class="fa fa-home"></i>Homepage</a></li>
                        <li id="menu-item-3250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3250"><a href="http://totaltheme.wpengine.com/base/portfolio/"><i class="fa fa-briefcase"></i>Portfolio</a></li>
                        <li id="menu-item-2573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2573"><a href="http://totaltheme.wpengine.com/base/blog/"><i class="fa fa-pencil"></i>Blog</a></li>
                        <li id="menu-item-2574" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-2574"><a href="http://totaltheme.wpengine.com/base/shop/"><i class="fa fa-shopping-cart"></i>Shop</a></li>
                    </ul>
                </div>
            </div>
            <!-- #footer-bottom-menu -->
        </div>
        <!-- #footer-bottom-inner -->
    </div>
    <!-- #footer-bottom -->




    </div><!-- #wrap -->


    <a href="http://totaltheme.wpengine.com/base/shop/accessories/basic-peasant-shirt/#" id="site-scroll-top" style="display: none;"><span class="fa fa-chevron-up"></span></a>

    <script type="text/javascript" src="./js/jquery.form.min.js"></script>

    <script type="text/javascript" src="./js/scripts.js"></script>




    <script type="text/javascript" src="./js/plugins.js"></script>
    <script type="text/javascript" src="./js/global.js"></script>
    <script type="text/javascript" src="./js/js_composer_front.js"></script>




</body>
</html>
